@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color: lightgrey">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <NavLink href="/">Home</NavLink> 
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
